body
{
    color:#2ed573;
    text-align: center;
    background-color:white;
    background-repeat: no-repeat;
    background-size: cover; 
}
.about
{
  
  color: black;
font-size:0.5cm;
text-align: center;  }
.content{
    font-size: 0.5cm;
}
